<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                   android:maxSdkVersion="36" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
                   <!-- Android 14+ требует specific foreground service type -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <!-- Phone state for handling calls -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Usage stats for detecting foreground app -->
  <!-- <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
      android:protectionLevel="signature|privileged|development|appop"
      tools:ignore="ProtectedPermissions" /> -->

  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

</manifest>